<!-- views/new.erb -->
<form method="post" action="/addurl">
  <label for="url">Enter the new URL:</label>
  <div>
    <input name="url" id="url" />
    <button type="submit">Add URL</button>
  </div>
</form>