<!-- views/signin.erb -->
<form method="post" action="/users/signin">
  <div>
    <label for="username"> Username:
      <input name="username" id="username" value="<%= params[:username] %>"/>
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>